:root
{
	--isca-blue: #00a8ff;
	--isca-background-light: #c6d5ff;
	--isca-background-dark: #36475b;
	--isca-accent: #ffcc00;
	--isca-accent-light: #ffde59;
	
	--aside-width: 33%;
	--header-size: 150px;
	--footer-size: 150px;
}

body
{
	background-color: var(--isca-background-light);
	display: grid;
	grid-template-columns: var(--aside-width) auto;
	grid-template-rows: var(--header-size) auto auto var(--footer-size);
	grid-template-areas:
	"header header"
	"aside main"
	"aside main"
	"footer footer";

	gap: 0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

header
{
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: header;
	background-color: var(--isca-background-dark);
	color: white;
}

img
{
	max-width: 200px;
}

aside
{
	background-color: var(--isca-background-light);

	position: sticky;
	height: calc(100vh - var(--header-size));
	top: 0;

	display: grid;
	grid-template-rows: 1fr 1fr;

	overflow: auto;

	form
	{
		display: grid;
		grid-auto-rows: 32px;
	}
}

main
{
	grid-area: main;
	background-color: var(--isca-background-light);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#monster-container
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;

	article
	{
		background-color: var(--isca-accent);
		max-width: 250px;

		padding: 1rem;

		section
		{
			text-align: center;

			ul
			{
				text-align: left;
				list-style: none;
				padding: 0;
			}
		}

		section:nth-child(2)
		{
			border-bottom: solid black;
		}
	}

	article:is(.isediting)
	{
		background-color: var(--isca-accent-light);
		display: grid;
		grid-template-rows: 1fr 5fr;

		span
		{
			display: grid;
			grid-template-columns: 2fr 1fr;
			text-align: left;
		}
	}
}

footer
{
	grid-area: footer;
	background-color: var(--isca-background-dark);
	color: white;
}

#toggle-sidebar-button
{
	position: fixed;
	z-index: 2;
	display: none;
}

@media only screen and (max-width: 1250px) 
{
	#monster-container
	{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (max-width: 900px) 
{
	body
	{
		grid-template-columns: auto;
		grid-template-rows: var(--header-size) auto auto var(--footer-size);

		grid-template-areas:
		"header"
		"main"
		"main"
		"footer";
	};

	#monster-container
	{
		@media only screen and (max-width: 620px) 
		{
			grid-template-columns: repeat(2, 1fr);
		}
		@media only screen and (max-width: 520px) 
		{
			grid-template-columns: auto;
		}
	}
	


	article
	{
		max-width: 2px;
	}

	article:not(.isediting)
	{
		section:nth-child(3)
		{
			display: none;
		}
	}

	#toggle-sidebar-button
	{
			display: block;
			height: 64px;
			border-radius: 50%
	};
	aside
	{
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		padding-top: calc(64px + 32px);
	};
};